# Python
venv/
__pycache__/
*.pyc

# Datasets
datasets/raw/
datasets/train/
datasets/validation/
datasets/test/
data/

# Model artifacts
*.pkl
*.parquet
*.onnx
*.pt
*.pth
checkpoints/
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db